{% extends 'global/base.html' %}

{% block title %}
  Register
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Register</h2>
    <hr />
  </div>
  <div class="container">
    <form action="{% url 'authors:create' %}" method="POST" class="row g-3">
      {% csrf_token %}
      {% for field in form %}
        <div class="col-md-6">
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>

          {% if field.errors %}
            <div class="invalid-tooltip">{{ field.errors }}</div>
          {% endif %}

          
          {{ field }}
          {% if field.errors %}
            {{ field.errors }}
            <script>
              document.getElementById('{{ field.auto_id }}').classList.add('is-invalid')
            </script>
          {% endif %}
        </div>
      {% endfor %}

      <div class="col-12">
        <button class="btn btn-dark" type="submit">Enviar</button>
      </div>
    </form>
  </div>
{% endblock %}
