{% extends 'global/base.html' %}

{% block title %}
  Home |
{% endblock %}

{% block content %}
  {% if recipes %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for recipe in recipes %}
        {% include 'recipes/partials/recipe.html' %}
      {% endfor %}
    </div>
  {% else %}
    <div class="container d-flex flex-column justify-content-center text-center py-5">
      <div class="d-flex justify-content-center align-items-center pt-4">
          <div class="d-flex align-items-center">
              <i class="fa-solid fa-triangle-exclamation fa-6x text-warning mx-2"></i>
              <h1 class="fa-3x">NOT FOUND</h1>
          </div>
      </div>
      <p class="lead fs-3 mb-0">Oops! Página não encontra nem uma receita publicada.</p>
      <p class="lead fs-3 pb-5">Por favor, tente novamente mais tarde.</p>
    </div>
  {% endif %}
{% endblock %}
